<h2>Here are all your recipes!</h2>

<ol>
  <% @cookbook.all.each_with_index do |each, id| %>
    <li>
      <% each.status == "true" ? (made = "⦿") : (made = " ") %>
      <%= "[#{made}] #{each.name} - #{each.describe}" %>
    </li>
  <% end %>
</ol>
<a href='new_recipe'>Create New Recipe</a>