<h2>Here are all your recipes!</h2>

<ol>
  <% @cookbook.all.each_with_index do |each, index| %>
    <li>
      <% each.status == "false" ? (made = " ") : (made = "X") %>
      <%= "[#{made}] #{each.name} - #{each.status}" %>
    </li>
  <% end %>
</ol>
<a href='new_recipe'>Create New Recipe</a>