<form method="POST" action="/food">
  <p>Recipe Name:</br>
  <input type="text" name="name"></p>

  <p>Ingredients:</br>
  (please enter each ingredient on a new line): </br>
  <input type="text" name="favorite_food"></p>

  <p>Prep Time: <input type="text" name="favorite_food"></br>
  Cooking Time: <input type="text" name="favorite_food"></p>
  
  <p>Difficulty:</p>
  <p> <input type="radio" name="difficulty" value="easy">
      <label for="male">Easy</label><br>
      <input type="radio" name="difficulty" value="mid">
      <label for="female">More effort</label><br>
      <input type="radio" name="difficulty" value="hard">
      <label for="other">A challenge</label></p>
  <input type="submit">
</form>
