<form method="POST" action="/new_recipe">
  <p>Recipe Name:</br>
  <input type="text" name="name"></p>

  <p>Ingredients:</br>
  (please use a ';' to separate ingredients): </br>
  <textarea name="ingredients" rows="10"></textarea></p>

  <p>Directions:</br>
  (please use a ';' to separate steps, and leave numbers out): </br>
  <textarea name="method" rows="10"></textarea></p>

  <p>Prep Time: <input type="text" name="preptime"></br>
  Cooking Time: <input type="text" name="cooktime"></p>
  
  <p>Difficulty:</br>
    <input type="radio" name="difficulty" value="Easy">
    <label for="male">Easy</label><br>
    <input type="radio" name="difficulty" value="More effort">
    <label for="female">More effort</label><br>
    <input type="radio" name="difficulty" value="A challenge">
    <label for="other">A challenge</label></p>
  <input type="submit">
</form>
