<form method="POST" action="/new_recipe">
  <p>Recipe Name:</br>
  <input type="text" name="name"></p>

  <p>Description:</br>
  <input type="text" name="description"></p>
  <input type="submit">
</form>
