<form method="POST" action="/new_recipe">
  <p>Recipe Name:</br>
  <input type="text" name="name"></p>

  <p>Description:</br>
  <input type="text" name="description"></p>

  <p>Have you made this recipe before?</br>
  <input type="radio" name="status" value="true">
  <label for="true">Yes</label><br>
  <input type="radio" name="status" value="false">
  <label for="fefalsemale">No</label></p>

  <input type="submit">
</form>
